APP_NAME=Passive Income Tracker
ENVIRONMENT=development
DEBUG=True
DATABASE_URL=sqlite:///./pass_inc.db
SECRET_KEY=<your-secret-key-here>
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

REFRESH_SECRET_KEY=<your-refresh-secret-here>
REFRESH_TOKEN_EXPIRE_DAYS=7
